@import '~typeface-mulish';

.announcement-page-header {
    background-color: #051622;
    height: 80px;
    border-bottom: 2px solid #DEB992;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  .new-announcement-button{
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 15px 15px 15px 15px;
    width: 120px;
    background-color: #1BA098;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    float: right;
}

.new-announcement-button:active{
    background-color: #0c7b74;
    color: rgb(206, 213, 220);

}

h1{
    padding-bottom: 30px;
    align-self: center;
    text-align: center;
    width: 500px;
    color: #1BA098;
    border-bottom: 1px solid #DEB992;
    text-align: center;
    font-size: 30pt;
    font-family: 'Mulish';
    font-weight: 300;
    color: #1BA098,
}




h3{
    font-size: 18pt;
}

.announcement-header {
    display: flex;
    height: 30px;
    border-bottom: solid 1px;
    border-color: #0B2D45;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .announcement-item {
    background-color: #0B2D45;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 20px;
  }

  .date {
    text-align: right;
  }

  .author{
    text-align: left;
    text-transform: capitalize;
  }

  .button {
    background-color: #0B2D45;
    text-align: center;
    padding-bottom: 7px;
    width: 60px;
    height: 60px;
    color: white;
    border: #0B2D45;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  #graphic {
    width: 60px;
    margin-left: 30px;
  }
  
  .fill-space {
    flex-grow: 1;
  }
  
  .announcement-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #051622;
    padding: 20px;
    height: 100%;
  }
  
  
  h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  button.mat-button {
    background-color: #051622;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
  }

  .admin{
    color: #F24E1E;
    font-size: 14pt;
    font-family: 'Mulish';
    text-transform: uppercase;
    margin-left: 50px;

  }