<div class="announcement-header">
    <span class="fill-space"></span>
    <button mat-icon-button routerLink="/nav">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  
  <div class="announcement-container">
    <div *ngFor="let announcement of allAnnouncements" class="announcement-item">
      <h3>{{ announcement.title }}</h3>
      <p>{{ announcement.message }}</p>
      <p>Author: {{ announcement.author.profile.firstname }} {{ announcement.author.profile.lastname }}</p>
      <p>Date: {{ announcement.date }}</p>
    </div>
  </div>
  
  <button mat-button *ngIf="currentUser?.isAdmin" routerLink="/create-announcement">New Announcement</button>