<div class="jw-modal">
    <div class="jw-modal-body">
        <div class="form-container">
            <div class="close-button-container">
                <img src="assets/closeIcon.png" alt="close button" class="close-image"/>
                <button (click)="close()" class="close-button"></button>
            </div>
            <form [formGroup]="teamForm">
                <div class="name-form">
                    <input style="width: 375px;" type="text" id="teamName" formControlName="teamName" required placeholder="team name">
                </div>
                <div class="description-form">
                    <input style="width: 375px;" type="text" id="description" formControlName="description" required placeholder="description">
                </div>
                <div class="members-form">
                    <p style="color: #DEB992">
                        Select Members
                    </p>
                    <select class="member-select" (change)="changeMember($event)" formControlName="members" placeholder="Pick an Option">
                        <option hidden value="" disabled selected>Pick an Option</option>
                        <option *ngFor="let member of memberList" value="member">
                            {{member.profile.firstName}}
                        </option>
                    </select>
                </div>
                <div *ngIf="isSubmitted && (teamName?.invalid || description?.invalid || members?.invalid)">
                    <p style="color: #bc0000;">Some fields are missing inputs or have invalid inputs.</p>
                </div>
                <br>
                <br>
                <br>
                <button type="submit" class="submit-button" (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="jw-modal-background"></div>

