@import '~typeface-mulish';


h1, h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
  }

  h1 {
    font-size: 48px;
    color: #1BA098;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h3 {
    font-size: 28px;
    color: #1BA098;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #graphic {
    width: 170px;
    margin-bottom: 50px;
  }

  body {
    background-color: #051622;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #051622;
    height: 100%;


  }

  form {
    box-sizing: border-box;
    width: 560px;
    height: 550px;
    border: 5px solid #DEB992;
    box-shadow: 4px 4px 10px 5px rgba(203, 203, 203, 0.49);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #051622;
    margin-bottom: 70px;
  }

  input[type="text"],
  input[type="password"] {
    background-color: #051622;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
  }

  button[type="submit"] {
    background-color: #051622;
    border: 2px solid #1BA098;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding:  15px  50px 15px 50px ;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
  }