<div class="login-container">
    <h1>COOK SYSTEMS</h1>
    <h3>A FINAL APP</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img id = "graphic" src="assets/graphic.png" alt="Graphic Image">
      <input type="text" formControlName="username" placeholder="Username">
      <input type="password" formControlName="password" placeholder="Password">
      <button type="submit">Log In</button>
    </form>

    <div *ngIf="loginForm.hasError('invalidCredentials')" class="error-message">
        Invalid credentials. Please try again.
      </div>
</div>
