<div class="select-company-container">
    <h2>Select Company</h2>
    <form [formGroup]="selectCompanyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <select class="select-element" formControlName="selectCompany">
                <option disabled selected value="">Pick an Option</option>
                <option *ngFor="let company of userService.fullUser?.companies" [value]="company.name">{{ company.name }}</option>
            </select>
            <button type="submit" *ngIf="selectCompanyForm.get('selectCompany')?.value">Submit</button>
        </div>
    </form>
</div>






