<!-- ------header with nav icon------- -->
<div class="announcement-page-header">
    <img id="graphic" src="assets/graphic.png" alt="Graphic Image">
    <!-- <p *ngIf="currentUser?.admin" class="admin"> Acting as Admin</p> -->
    <span class="fill-space"></span>
    <button class="button" mat-icon-button routerLink="/nav">
        <mat-icon style="font-size: 30px;">menu</mat-icon>
    </button>
</div>
<!-- ------header with nav icon------- -->

<div class="header">
    <h1>User Registry</h1>
<p>A general view of all your members in your organization</p>
</div>

<table class="user-container">
    <thead>
        <tr>
            <div class="table-header">
                <th style="width: 150px">Name</th>
                <th style="width: 225px">Email</th>
                <th style="width: 150px">Team</th>
                <th style="width: 100px">Active</th>
                <th style="width: 100px">Admin</th>
                <th style="width: 100px">Status</th>
            </div>
        </tr>
    </thead>
    <tbody *ngIf="populated">
        <tr *ngFor="let user of users">
            <div class="user-data">
                <td style="width: 150px">{{user.profile.firstName}} {{user.profile.lastName }}</td>
                <td style="width: 225px; text-decoration: underline;">{{user.profile.email}}</td>
                <td style="width: 150px">{{user.teams[0].name}}</td>
                <td style="width: 100px">{{user.active}}</td>
                <td style="width: 100px">{{user.admin}}</td>
                <td style="width: 100px; text-transform: uppercase;">{{user.status}}</td>
            </div>
        </tr>
    </tbody>
</table>
<br><br>
<div class="button-container">
    <button class="user-button" (click)="modalService.open('modal-1')">ADD USER</button>
    <jw-modal id="modal-1">
        <button (click)="modalService.close();">Close</button>
    </jw-modal>
</div>


